body{

background:#202123;

font-family:Arial;

color:white;

}


.app{


width:800px;

margin:40px auto;

}


h1{

text-align:center;

}



#chatBox{


height:500px;

background:#343541;

padding:20px;

overflow:auto;

border-radius:10px;


}



.user{


background:#444654;

padding:10px;

margin:10px;

border-radius:8px;

}



.ai{


background:#10a37f;

padding:10px;

margin:10px;

border-radius:8px;


}



input{


width:75%;

padding:15px;

}



button{


padding:15px;

cursor:pointer;

}
