*{

box-sizing:border-box;

}


body{

margin:0;

font-family:Arial;

background:#343541;

}



.app{

display:flex;

height:100vh;

}




.sidebar{

width:260px;

background:#202123;

color:white;

padding:20px;

}



.sidebar button{

width:100%;

padding:12px;

margin:10px 0;

background:#444654;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}




.chat{

flex:1;

display:flex;

flex-direction:column;

}



.chat-header{

padding:20px;

background:#202123;

color:white;

font-size:22px;

text-align:center;

}




.messages{

flex:1;

padding:20px;

overflow:auto;

}




.bot,
.user{

max-width:70%;

padding:15px;

margin:15px;

border-radius:10px;

color:white;

}



.bot{

background:#444654;

}



.user{

background:#10a37f;

margin-left:auto;

}




.input-area{

display:flex;

padding:20px;

background:#202123;

}




.input-area input{

flex:1;

padding:15px;

border-radius:8px;

border:none;

}




.input-area button{

padding:15px 25px;

margin-left:10px;

background:#10a37f;

color:white;

border:none;

border-radius:8px;

}